

<section>
  <article>
    <header>
      <h1><%= @blog_post.title %></h1>
    </header>
    <div class='post'>
      <p><%= @blog_post.body.gsub(/\n/, '<br />') %></p>
    </div>
    <p><a href="/edit/<%= @blog_post.id %>">Edit</p>
  </article>
</section>

